Flask==2.3.3
Flask-Cors==5.0.0
gunicorn==21.2.0  # For deployment
numpy==1.23.5
opencv-python==4.11.0.86
opencv-contrib-python==4.11.0.86
tensorflow==2.13.0
tensorflow-gpu==2.10.1  # Only if using GPU
mediapipe==0.10.11
sounddevice==0.5.1  # If you're adding sound/speech
scipy==1.10.1
pillow==10.4.0
requests==2.32.3
Werkzeug==3.0.6
